
@{
    ViewBag.Title = "Learning";
}

<div class="row">
    <div class="col-xs-12 col-md-4">
        <a href="~/Content/Meh/LearningFiles/PMBOK-GPS-Persian.jpg" class="thumbnail">
            <img src="~/Content/Meh/LearningFiles/PMBOK-GPS-Persian.jpg"  alt="PMBOK-GPS-Persian.jpg" class="img-rounded img-thumbnail"/>
        </a>
    </div>
    <div class="col-xs-12 col-md-4">
        <a href="~/Content/Meh/LearningFiles/PMBOK-GPS-2012-V1.4.jpg" class="thumbnail">
            <img src="~/Content/Meh/LearningFiles/PMBOK-GPS-2012-V1.4.jpg" alt="PMBOK-GPS-2012-V1.4.jpg" class="img-rounded img-thumbnail"/>
        </a>
    </div>
</div>

<hr />

<div style="margin-top:5px">
    <a href="~/Content/Meh/LearningFiles/ProjectDocuments.pdf" class="btn btn-primary">Project Documents.pdf</a>
</div>
<div style="margin-top:5px">
    <a href="~/Content/Meh/LearningFiles/ProjectManagementProcess.pdf" class="btn btn-primary">Project Management Process.pdf</a>
</div>
<div style="margin-top:5px">
    <a href="~/Content/Meh/LearningFiles/PMBOKGuideFifthEd.pdf" class="btn btn-primary">PMBOK Guide Fifth Ed.pdf</a>
</div>

