@model Pseez.ViewModels.ViewModels.PseezEnt.IT.ServerViewModel

<div class="modal-header alert-info">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <span class="glyphicon glyphicon-remove closePanel"></span></button>
    <h3 class="modal-title">مشخصات سرور</h3>
</div>

<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => Model.ServerName, new {@class = "control-label col-sm-3"})
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.ServerName, new {@class = "form-control", @disabled = "disabled"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => Model.IP, new {@class = "control-label col-sm-3"})
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.IP, new {@class = "form-control col-sm-6", @disabled = "disabled", dir = "ltr"})
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">بستن</button>
</div>