<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Pseez-20141102085727.mdf;Initial Catalog=aspnet-Pseez-20141102085727;Integrated Security=True"
      providerName="System.Data.SqlClient"/>-->
    <add name="IdentityConnection" connectionString="Data Source=.;Initial Catalog=PseezOld;persist security info=True;user id=AdminPseez;password=Pass#1" providerName="System.Data.SqlClient" />
    <add name="PseezEntConnection" connectionString="Data Source=.;Initial Catalog=PseezOld;persist security info=True;user id=AdminPseez;password=Pass#1" providerName="System.Data.SqlClient" />
    <add name="StsConnection" connectionString="Data Source=.;Initial Catalog=TotalSystemGA;persist security info=True;user id=AdminPseez;password=Pass#1" providerName="System.Data.SqlClient" />
    <!--<add name="StsConnection" connectionString="Data Sourcedata source=10.28.3.67;initial catalog=TotalSystemGA;persist security info=True;user id=User-ActiveDirectory;password=user-ad@P3eez.sts" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="StsConnection" connectionString="Data Sourcedata source=10.28.3.67;initial catalog=TotalSystemGA;persist security info=True;user id=User-ActiveDirectory;password=user-ad@P3eez.sts" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=PSEEZ;Persist Security Info=True;User ID=AdminPortal;Password=Pass1;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TotalSystemGAEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.28.3.67;initial catalog=TotalSystemGA;persist security info=True;user id=user-ad;password=user-ad@P3eez.sts;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--این بخش جهت غیر فعال کردن بروزرلینک اضافه شده است.-->
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--جهت اضافه کردن صفحات خطا اضافه شده اند-->
    <!--<customErrors mode="RemoteOnly">-->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Errors">
      <!--<error statusCode="403" redirect="~/Admin/Error/NoAccess"/>-->
      <error statusCode="404" redirect="~/Errors/NotFound" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MvcExtensions" publicKeyToken="ee6190c4449c24bc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--افزایش حداکثر اندازه خروجی جیسون-->
<system.web.extensions>
  <scripting>
    <webServices>
      <jsonSerialization maxJsonLength="2000000000" />
    </webServices>
  </scripting>
</system.web.extensions>
</configuration>