@{
    ViewBag.Title = "اشخاص";
}

<h2>اشخاص</h2>


<div class="k-rtl">
    <div id="grid"></div>
</div>


@section Styles{
    <link href="~/Content/kendo/2015.1.318/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2015.1.318/kendo.blueopal.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2015.1.318/kendo.rtl.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/Scripts/jszip/jszip.min-2.5.0.js"></script>
    <script src="~/Scripts/kendo/2015.1.318_Complete/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/KendoFarsi/kendo.fa-IR.js"></script>

    <script>
        kendo.culture("fa-IR");
    </script>
    <script>
        $(document).ready(function () {
            var GridDataSource = new kendo.data.DataSource({
                type: "json",
                transport: {
                    read: {
                        url: "@Url.Action("Read")",
                        dataType: "json",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                    },
                    //parameterMap: function (options) {
                    //    return JSON.stringify(options);
                    //}
                },
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number", editable: false },
                            Name: { type: "string" },
                            Family: { type: "string" },
                            FatherName: { type: "string" },
                            BirthDate: { type: "string" },
                            City_Id: { type: "number" },
                            IdNumber: { type: "string" },
                            NationalCode: { type: "string" },
                            Gender_Id: { type: "number" },
                            Mobile: { type: "string" }
                        }
                    }
                },
                error: function (e) {
                    alert(e.errorThrown);
                },
                pageSize: 10
            });

            $("#grid").kendoGrid({
                dataSource: GridDataSource,
                autoBind: true,
                selectable: "row",
                navigatable: true,
                //height: 430,
                groupable: true,
                scrollable: false,
                sortable: true,
                filterable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    input: true,
                    numeric: false
                },
                columns: [
                    { field: "Id", title: "کد", width: "70px" },
                    { field: "Name", title: "نام" },
                    { field: "Family", title: "نام خانوادگی" },
                    { field: "FatherName", title: "نام پدر" },
                    { field: "BirthDate", title: "تاریخ تولد" },
                    { field: "City_Id", title: "کد شهر" },
                    { field: "NationalCode", title: "کد ملی" },
                    { field: "Mobile", title: "موبایل" }
                ],
            });
        });
    </script>
}

