<div>.1 Interviews</div>
<div>.2 Focus groups</div>
<div>.3 Facilitated workshops</div>
<div>.4 Group creativity techniques</div>
<div>.5 Group decision-making techniques</div>
<div>.6 Questionnaires and surveys</div>
<div> .7 Observations</div>
<div>.8 Prototypes</div>
<div>.9 Benchmarking</div>
<div>.10 Context diagrams</div>
<div>.11 Document analysis</div>
