<div>.1 Risk probability and impact assessment</div>
<div>.2 Probability and impact matrix</div>
<div>.3 Risk data quality assessment</div>
<div>.4 Risk categorization</div>
<div>.5 Risk urgency assessment</div>
<div>.6 Expert judgment</div>

