<div>.1 Expert judgment</div>
<div>.2 Analogous estimating</div>
<div>.3 Parametric estimating</div>
<div>.4 Three-point estimating</div>
<div>.5 Group decision-making techniques</div>
<div>.6 Reserve analysis</div>

