<div>.1 Cost-benefit analysis</div>
<div>.2 Cost of quality</div>
<div>.3 Seven basic quality tools</div>
<div>.4 Benchmarking</div>
<div>.5 Design of experiments</div>
<div>.6 Statistical sampling</div>
<div>.7 Additional quality planning tools</div>
<div>.8 Meetings</div>
