<div>.1 Bidder conference</div>
<div>.2 Proposal evaluation techniques</div>
<div>.3 Independent estimates</div>
<div>.4 Expert judgment</div>
<div>.5 Advertising</div>
<div>.6 Analytical techniques</div>
<div>.7 Procurement negotiations</div>
