<div>.1 Documentation reviews</div>
<div>.2 Information gathering techniques</div>
<div>.3 Checklist analysis</div>
<div>.4 Assumptions analysis</div>
<div>.5 Diagramming techniques</div>
<div>.6 SWOT analysis</div>
<div>.7 Expert judgment</div>

