@*<div>.1 Project management plan updates</div>
<div>.2 Project documents updates</div>*@

@model Pseez.ViewModels.ViewModels.PseezEnt.Pmbok.ProjectDocumentLatestValueFilesViewModel
<div class="panel-group" @*id="accordion"*@ role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading-o1">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-o1">
                    1. Project management plan updates
                </a>
            </h4>
        </div>
        <div id="collapse-o1" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                @Html.ActionLink("Project Management Plans", "Index", "ProjectManagementPlans", new { area = "Documents" }, null)
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading-o2">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-o2">
                    2. Project documents updates
                </a>
            </h4>
        </div>
        <div id="collapse-o2" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                @Html.ActionLink("Project Documents", "Index", "ProjectDocuments", new { area = "Documents" }, null)
            </div>
        </div>
    </div>
   </div>