
@{
    ViewBag.Title = "Select Default Project";
}

<div class="row">
    <h2 class="alert alert-danger col-md-4">Select Default Project</h2>
</div>

    <h4>
        Please selext default project:
        @Html.ActionLink("Projects", "Index", "Projects", new { area = "Projects" }, null)
    </h4>