<div>.1 Expert judgment</div>
<div>.2 Analogous estimating</div>
<div>.3 Parametric estimating</div>
<div>.4 Bottom-up estimating</div>
<div>.5 Three-point estimating</div>
<div>.6 Reserve analysis</div>
<div>.7 Cost of quality</div>
<div>.8 Project management software</div>
<div>.9 Vendor bid analysis</div>
<div>.10 Group decision-making techniques</div>
