<div>.1 Interpersonal skills</div>
<div>.2 Training</div>
<div>.3 Team-building activities</div>
<div>.4 Ground rules</div>
<div>.5 Colocation</div>
<div>.6 Recognition and rewards</div>
<div>.7 Personnel assessment tools</div>
