@{
    ViewBag.Title = "جدول زمانی";
}

<h2>جدول زمانی پروازها</h2>

<div class="row">
    <form class="form-inline form-control col-md-3 label-success" style="margin-right:15px;height:50px">
        <div class="form-group">
            @Html.Label("سال", new { @class = "control-label" })
            @*@Html.DropDownList("Year",ViewBag.Year as SelectList,new { @class = "control-label" })*@
            <select id="Year" class="form-control">
                <option value="1386">1386</option>
                <option value="1387">1387</option>
                <option value="1388">1388</option>
                <option value="1389">1389</option>
                <option value="1390">1390</option>
                <option value="1391">1391</option>
                <option value="1392">1392</option>
                <option value="1393">1393</option>
                <option value="1394" selected>1394</option>
            </select>
        </div>
        <div class="form-group">
            @Html.Label("ماه", new { @class = "control-label" })
            @*@Html.DropDownList("Month", ViewBag.Months as SelectList, new { @class = "control-label" })*@
            <select id="Month" class="form-control">
                <option value="01" selected>فروردین</option>
                <option value="02">اردیبهشت</option>
                <option value="03">خرداد</option>
                <option value="04">تیر</option>
                <option value="05">مرداد</option>
                <option value="06">شهریور</option>
                <option value="07">مهر</option>
                <option value="08">آبان</option>
                <option value="09">آذر</option>
                <option value="10">دی</option>
                <option value="11">بهمن</option>
                <option value="12">اسفند</option>
            </select>
        </div>
    </form>
</div>

<div class="k-rtl">
    <div id="grid"></div>
</div>



@section Styles{
    <link href="~/Content/kendo/2015.1.318/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2015.1.318/kendo.blueopal.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2015.1.318/kendo.rtl.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/Scripts/jszip/jszip.min-2.5.0.js"></script>
    <script src="~/Scripts/kendo/2015.1.318_Complete/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/KendoFarsi/kendo.fa-IR.js"></script>

    <script>

    </script>
    <script>
        kendo.culture("fa-IR");
    </script>
    <script>
        $(document).ready(function () {
            var ShowGrid = function () {
                var GridDataSource = new kendo.data.DataSource({
                    type: "json",
                    transport: {
                        read: {
                            @*url: "@Url.Action("Read", new { Year=$('Year').value,Month = "6"})"+,*@
                            url: "@Url.Action("Read")" + "?Year=" + $('#Year').val() + "&Month=" + $('#Month').val(),
                            dataType: "json",
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                        },
                        //parameterMap: function (options) {
                        //    return JSON.stringify(options);
                        //}
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { type: "number", editable: false },
                                Date: { type: "string" },
                                DailyServiceTime_Id: { type: "number" },
                                ServiceType_Id: { type: "number" },
                                ContractDevice_Id: { type: "number" },
                                Time: { type: "string" },
                                FlightNumber: { type: "string" },
                                Description: { type: "string" },
                                FinalDate: { type: "string" },
                                FinalTime: { type: "string" },
                                City_Id: { type: "number" },
                                City_To_Id: { type: "number" },
                                Provider_Id: { type: "number" },
                                Contract_Id: { type: "number" },
                                GetFromWebService: { type: "boolean" },
                                PresentForSubCompany: { type: "boolean" },
                                UniqueId: { type: "string" }

                            }
                        }
                    },
                    error: function (e) {
                        alert(e.errorThrown);
                    },
                    pageSize: 10
                });

                $("#grid").kendoGrid({
                    dataSource: GridDataSource,
                    autoBind: true,
                    selectable: "row",
                    navigatable: true,
                    //height: 430,
                    groupable: true,
                    scrollable: true,
                    sortable: true,
                    filterable: true,
                    resizable: true,
                    reorderable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        input: true,
                        numeric: false
                    },
                    toolbar: [
                        //{ name: "Create", template: "<a class='k-grid-Create' data-modal=''><span class='btn btn-success'><span class='glyphicon glyphicon-plus'></span> سرور جدید </span></a>" },
                          { name: "excel", template: "<a class='k-grid-excel' style='margin-right:3px;float:left' ><span class='btn btn-success'><span class='k-icon k-i-excel'></span> خروجی اکسل </span></a>" },
                         //{ name: "pdf", template: "<a class='k-grid-pdf' style='float:left'><span class='btn btn-success'><span class='k-icon k-i-pdf'></span> خروجی pdf </span></a>" }
                    ],
                    columns: [
                        { field: "Id", title: "کد", width: "70px" },
                        { field: "Date", title: "تاریخ" },
                        { field: "DailyServiceTime_Id", title: "کد تاریخ سرویس روزانه" },
                        { field: "ServiceType_Id", title: "کد نوع سرویس" },
                        { field: "ContractDevice_Id", title: "کد وسیله قرارداد" },
                        { field: "FlightNumber", title: "شماره پرواز" },
                        { field: "Description", title: "توضیحات" },
                        { field: "FinalDate", title: "تاریخ نهایی" },
                        { field: "FinalTime", title: "زمان نهایی" },
                        { field: "City_Id", title: "کد شهر" },
                        { field: "City_To_Id", title: "کد مقصد" },
                        { field: "Provider_Id", title: "کد فراهم کننده" },
                        { field: "Contract_Id", title: "کد قرارداد" },
                        { field: "GetFromWebService", title: "دریافت از وب سرویس" },
                        { field: "PresentForSubCompany", title: "نمایش برای شرکت زیر مجموعه" },
                        { field: "UniqueId", title: "کد یکتا" }
                    ],
                    excel: {
                        allPages: true
                    },
                });
            };
            ShowGrid();
            $("select").on("change", function () {
                ShowGrid();
            });
        });

    </script>
}


