@model Pseez.Model.ViewModels.PseezEnt.Contact.UserContactListViewModel

<div class="modal-header alert-info">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
    <h3 class="modal-title">مشخصات دسترسی کاربر</h3>
</div>

<div class="modal-body">
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(m => Model.ContactListName, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.ContactListName, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div><div class="form-group">
            @Html.LabelFor(m => Model.UserName, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">بستن</button>
</div>