<div>.1 Risk reassessment</div>
<div>.2 Risk audits</div>
<div>.3 Variance and trend analysis</div>
<div>.4 Technical performance measurement</div>
<div>.5 Reserve analysis</div>
<div>.6 Meetings</div>
